# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
Design_Einser/Gerber.zip
Design_Zehner/Gerber.zip
Design_Einser/Gerber/Unaehruhr_LED-B.Cu.gbr
Design_Einser/Gerber/Unaehruhr_LED-B.Mask.gbr
Design_Einser/Gerber/Unaehruhr_LED-B.SilkS.gbr
Design_Einser/Gerber/Unaehruhr_LED-Edge.Cuts.gbr
Design_Einser/Gerber/Unaehruhr_LED-F.Cu.gbr
Design_Einser/Gerber/Unaehruhr_LED-F.Mask.gbr
Design_Einser/Gerber/Unaehruhr_LED-F.SilkS.gbr
Design_Einser/Gerber/Unaehruhr_LED.drl
Design_Zehner/Gerber/Unaehruhr_Zehner-B.Cu.gbr
Design_Zehner/Gerber/Unaehruhr_Zehner-B.Mask.gbr
Design_Zehner/Gerber/Unaehruhr_Zehner-B.SilkS.gbr
Design_Zehner/Gerber/Unaehruhr_Zehner-Edge.Cuts.gbr
Design_Zehner/Gerber/Unaehruhr_Zehner-F.Cu.gbr
Design_Zehner/Gerber/Unaehruhr_Zehner-F.Mask.gbr
Design_Zehner/Gerber/Unaehruhr_Zehner-F.SilkS.gbr
Design_Zehner/Gerber/Unaehruhr_Zehner.drl
Unary_1/Unary_1_6_1(1).atsln
Unary_1/Unary_1/Debug/Unary_1.srec
Unary_1/Unary_1/Debug/Unary_1.map
Unary_1/Unary_1/Debug/Unary_1.lss
Unary_1/Unary_1/Debug/Unary_1.hex
Unary_1/Unary_1/Debug/Unary_1.elf
Unary_1/Unary_1/Debug/Unary_1.eep
Unary_1/Unary_1/Debug/Unary1.srec
Unary_1/Unary_1/Debug/Unary1.map
Unary_1/Unary_1/Debug/Unary1.lss
Unary_1/Unary_1/Debug/Unary1.elf
Unary_1/Unary_1/Debug/Unary1.hex
Unary_1/Unary_1/Debug/makedep.mk
Unary_1/Unary_1/Debug/Makefile
Unary_1/Unary_1/Debug/src/buttons.d
Unary_1/Unary_1/Debug/src/buttons.o
Unary_1/Unary_1/Debug/src/DCF77.d
Unary_1/Unary_1/Debug/src/DCF77.o
Unary_1/Unary_1/Debug/src/debounce.d
Unary_1/Unary_1/Debug/src/debounce.o
Unary_1/Unary_1/Debug/src/DS1307.d
Unary_1/Unary_1/Debug/src/DS1307.o
Unary_1/Unary_1/Debug/src/Hardware.d
Unary_1/Unary_1/Debug/src/Hardware.o
Unary_1/Unary_1/Debug/src/HighLevel.d
Unary_1/Unary_1/Debug/src/HighLevel.o
Unary_1/Unary_1/Debug/src/LED.d
Unary_1/Unary_1/Debug/src/LED.o
Unary_1/Unary_1/Debug/src/LowLevel.d
Unary_1/Unary_1/Debug/src/LowLevel.o
Unary_1/Unary_1/Debug/src/MedLevel.d
Unary_1/Unary_1/Debug/src/MedLevel.o
Unary_1/Unary_1/Debug/src/Unary_1.d
Unary_1/Unary_1/Debug/src/Unary_1.o
Unary_1/Unary_1/Debug/Unary1.eep
